:root
{
    accent-color: #2196F3

}

.link{
    text-decoration: none;
}
 
 .list{
    list-style: none;
}

img
 {
    display: block;
}


body 
{
    font-family: Roboto, sans-serif;
 }
 button { cursor: pointer;}

.menu-link { 
    font-family:Roboto, Raleway, sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
color:var(accent-color);
}
 .menu-link:hover

 .modal-open-btn

 {
    
    font-weight: 700;
font-size: 16px;
line-height: 1,17;
color: var(-accent-color);background: var(-accent-color);
  }
  .modal-open-btn:hover,
  .modal-open-btn:focus{ 

  background: var(accent-color);
}


  .contakt-email

  {
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  
  color: var(accent-color); 
  }
  .contakt-email:hover,
  .contakt-email:focus{ 
  color:var(accent-color);
  }

 .logo
 
  { 
font-family:Raleway, sans-serif;

font-weight: 700;
font-size: 26px;
line-height: 1,19
letter-spacing 0,03em;

color: var(accent-color);
}

    .blak {color: #000000}

     